<% include ./partials/header %>

    <div class="home-page">
		<div class="content">
			<h1>YelpCamp <span class="small">Start planning your next trip today</span></h1>
			<hr>
			<a href="/campgrounds" class="btn btn-light"><i class="fa fa-tree"></i> Get Started!</a>
		</div>
	</div>

<% include ./partials/footer %>